html, body {
  padding: 0;
  margin: 0;
  background-color: #f6f2ed;
}
body {
  flex: 1;
  margin: auto;
}

.large_header {
  width: 100%;
}

.separator {
  width: 100%;
  height: 50px;
  background-color: #d2c6b8;
}

.separator-small {
  width: 100%;
  height: 4px;
  background-color: #d2c6b8;
}

.flex-container {
  background-color: #fcfbf9;
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  width: 100%;
}

#post_header {
  width: 100%;
}

.form, .formfiller {
  width: 33%;
}
